<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   
  </head>
  <body>
   	<%- include("./common/header.ejs")%>
   	
    	<div class="main">
    		<h2><%-blog.title%></h2>
    		<%- include('./common/side-bar.ejs')%>
    	</div>
   	<%- include("./common/footer.ejs")%>
  </body>
</html>
